.contenedor {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.primary {
  padding-top: 7rem;
    padding-left: 4rem;
}


.l {
    padding-bottom: 5rem;
}


span {
    font-size: 5rem;
    position: absolute;
  }
  
  .border {
    color: var(--letter);  
       
  }
  
  .wave {
    color: var(--color-three);
    animation: wave 3s ease-in-out infinite;
  }
  h3 {
    font-size: 3rem;
    color: var(--color-three);
    padding-top: 1rem;
    margin: 0;
  }
 h5{
    margin: 0%;
    font-size: 1rem;
    color: var(--letter);
    padding-bottom: 2rem;
 } 
  
  @keyframes wave {
    0%, 100% {
      clip-path: polygon(
        0% 47%,
        10% 48%,
        33% 54%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 100%,
        0% 100%
      );
    }
  
    50% {
      clip-path: polygon(0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
      );
    }
  }
  
  
  /*=========================== button ============================================*/
  .button {
    background: linear-gradient(180deg, var(--color-three) 26.71%, var(--color-three) 99.36%);
    box-shadow: 0px 20px 24px 3px rgba(25, 176, 121, 0.42);
    border-radius: 34px;
    border: none;
    color: white;
    font-size: 16px;
    padding: 11px 26px 11px 26px;
    
  }
  
  .button:hover {
    background: white;
    cursor: pointer;
    border: 1px solid var(--orange);
    color: var(--orange);
  }

  /*============================ figuras =========================================0*/

 
  .fig {
    flex: 1;
    position: relative;
    
  }

  .me {
    margin-top: 8%;
    width: 100%;
    height: 80vh;
  }
  .about__me {
    height: 60vh;
    width: 80%;
  }
  
.about__me-image {
  height: 80vh;
  width: 80%;
  margin-top: 3rem;
  background: var(--fondo2);
  border-radius: 2rem;
  overflow: hidden;
  transition: var(--transition);
  border-radius: 12rem 12rem 0 0;
  cursor: pointer;
}
.about__me-image:hover {

  background: var(--fondo2);
	transform: rotateY(180deg);
  background: var(--fondo1);

}
  
  
  /*============================ icons =========================================0*/


.icons-a  {
    margin-top: 10rem;
    font-size: 3rem;
    color: var(--icons);
    
}
.icons-a a {
  margin-left: 2rem;
}

.icons-a a:hover {
  color: var(--icons-active);
}  
/* ++++++++++++ MEDIA QUERIS(medium) ++++++++++++ */

  @media screen and (max-width: 1024px) {
    .contenedor {
      display: grid;
      grid-template-columns: none;
      grid-template-rows:  repeat(2, 1rf);
    }
    .about__me {
      margin-left: 6rem;
      height: 100vh;
      width: 80%;
    }
  }
  
  /* ++++++++++++ MEDIA QUERIS(small) ++++++++++++ */
  
  @media screen and (max-width: 600px) {
    .contenedor {
      display: grid;
      grid-template-columns: none;
      grid-template-rows: repeat(2, 1rf);
    }
  }