.cd1{
    width: 70%;
    position: relative;
    padding-top: 4rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 80vh;
    background: var(--color-primary-vaiant);
    border-radius: 5%;
    margin-top: 2rem;
    margin: 0 auto;
}

.form-p{
    color: var(--letter);
}
.btn-success{
    background: var(--color-three);
    transition: var(--transition);
}
.btn-success:hover{
    background: var(--fondo);
    transition: var(--transition);
}
.form-control{
    width: 90%;
    background: transparent;
}
@media screen and (max-width: 1250px) {
    .cd1{
        width: 100%;
        position: relative;
        padding-top: 4rem;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        height: 80vh;
        background: var(--color-primary-vaiant);
        border-radius: 5%;
        margin-top: 4rem;
        margin: 0 auto;
    }
}