.portfolio1 {
  display: flex;
  flex-direction: column;
  height: 85vh;
  width: 70%;
  background: var(--fondo1);
  margin: 0 auto;
  padding-top: .7rem;
}

#portfolio {
  height: 130vh;
}

.card2 {
  width: 90%;
  height: 20vh;
  left: 2rem;
  padding-bottom: 1rem;
  text-align: center;
  border: 1px solid transparent;
  transition: all 300ms ease;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-bottom: solid 1px white;
}
.card2:hover {
  width: 90%;
  height: 21vh;
  left: 2rem;
  margin-top: .5rem;
  padding-bottom: .8rem;
}


.img-port {
  margin: 0px;
  padding: 0px;
  left: 2rem;
  padding-top: 1rem;
  width: 40%;
  padding-bottom: 1.8rem;
  height: 22vh;
}


/*======================= button =====================00000*/
.bot {
  width: 100%;
  justify-content: flex-start;
  text-align: start;
  margin-left: -9rem;
}

.title3{
  color: var(--letter);
  margin-top: 1rem;
  font-size: 1.5rem;
}
.about3{
  color: var(--purple);
}
/* ++++++++++++ MEDIA QUERIS(medium) ++++++++++++ */

@media screen and (max-width: 1024px) {

  .img-port {
    margin: 0px;
    padding: 0px;
    left: 2rem;
    padding-top: 1rem;
    width: 70%;
    padding-bottom: 1.2rem;
    height: 22vh;
    }

    .bot {
      width: 100%;
      justify-content: flex-start;
      text-align: start;
      margin-left: 0rem;
    }
    
    .title3{
      color: var(--letter);
      margin-top: .8rem;
      font-size: 1rem;
    }
    .about3{
      color: var(--purple);
    }

  }
/* ++++++++++++ MEDIA QUERIS(small) ++++++++++++ */

@media screen and (max-width: 600px) {

  .img-port {
    margin: 0px;
    padding: 0px;
    padding-top: 0;
    width: 100%;
    height: 19vh;
    padding-right: .5rem;
  }

  .card2 {
    width: 60%;
    display: grid;
  }
  .card2:hover {
    width: 60%;
    height: 21vh;
    left: 2rem;
    margin-top: .5rem;
    padding-bottom: .8rem;
  }
  

  .bot {
    display: flex;

  }
  .portfolio1 {
    height: 85vh;
    width: 100%;
    background: var(--fondo1);
    margin: 0 auto;
    padding-top: .7rem;
  }
  
  .title3{
    color: var(--letter);
    margin-top: .8rem;
    font-size: 1rem;
  }
  .about3{
    color: var(--purple);
    padding-left: 1rem;
    margin-right: -2rem;
  }
  .bot {
    padding-left: .5rem;
    width: 150%;
    margin-top: 1rem;
  }
}