.container-about {
    background: var(--fondo1);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.sub-container-about {
    margin: 2rem;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
    height: 50vh;
}



.titleRbt {
    text-align: start;
    color: rgb(220, 221, 221);
    margin: 2rem 0 2rem 0;
    font-size: 2.5rem;
    font-weight: 400;

}




/*===================================*/

.cardfloting {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 10rem;
    margin-left: 3rem;
    width: 80%;
    cursor: pointer;
}

.color {
    color: skyblue;
    padding: 1rem;
    font-size: 3rem;
}

.color:hover {
    color: rgb(191, 231, 248);
    font-size: 3rem;
    cursor: pointer;
}

/*===================================*/



/* ++++++++++++ MEDIA QUERIS(medium) ++++++++++++ */

@media screen and (max-width: 1024px) {
    
    .titleRbt {
        text-align: start;
        color: var(--letter2);
        margin: 2rem 0 2rem 0;
        font-size: 1.5rem;
        font-weight: 500;
    }
    .sub-container-about {
        margin: 2rem;
        display: grid;
        width: 100%;
        height: 50vh;
    }
    .cardfloting {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 2rem;
        margin-left: 3rem;
        width: 80%;
        cursor: pointer;
    }
    .color {
        color: var(--letter);
        padding: 1rem;
        font-size: 2rem;
    }
    
}

/* ++++++++++++ MEDIA QUERIS(small) ++++++++++++ */

@media screen and (max-width: 700px) {
  
    
    .titleRbt {
        text-align: start;
        margin: 2rem 0 2rem 0;
        font-size: 1.5rem;
        font-weight: 500;
    }
    .container-about {
        height: 100vh;
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }
    .sub-container-about {
        margin: 2rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 45%;
        height: 50vh;
    }
    .cardfloting {
        display: grid;
        grid-template-columns: repeat(3);
        margin-top: 0rem;
        margin-left:  4rem;
        width: 70%;
        height: 30vh;
        cursor: pointer;
    }
  
    .color {
        color: skyblue;
        padding: 1rem;
        font-size: 2rem;
    }
    .color:hover {
        color: rgb(191, 231, 248);
        font-size: 2rem;
        cursor: pointer;
    }
}