:root
{
    --sea: #52d6d6;
    --sand: #e0be5e;
    --fondo: linear-gradient(to bottom, #cdfefe, #bdfdf0, #b7fbdb, #bcf7c1, #caf0a5, #d3ea93, #dee482, #ebdc73, #efd768, #f4d15e, #f9cb53, #fec44a);
    --fondo1: linear-gradient(to bottom, #20f4e6, #00e6ee, #00d7f1, #00c8f1, #2cb8eb, #17a9e7, #1599e1, #2589d9, #0076d5, #0061cf, #004bc6, #1d32b9);
    --fondo2:  linear-gradient(to bottom, #1b287c, #172375, #131d6e, #0f1867, #0a1360, #09125b, #081156, #071051, #0a134c, #0d1547, #101642, #13183d);
    --icons: #208cf1;
    --icons-active: #dab653;
    --letter : #ffbb00;
    --letter2: rgb(88, 109, 126) ;
    --card : #a3d8e42a;
    --cardtr: rgba(166, 235, 252, 0.377);
    --boxShadow : 0px 19px 60px rgb(0 0 0 / 8%);
    --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
    --transition: all 900ms ease ;
    --container-width-ms: 90%;
}
section {
  height: 100vh;
  overflow: hidden;
}

body{
  overflow: hidden;
}
a{
  text-decoration: none;
  text-decoration-line: none;
}
.robot {
  width: 40px;
  height: 40px;
}

a{text-decoration: none;}
.App{
    padding: 0.5rem 3.5rem;
    overflow: hidden;
}

#container3D {
  width: 200px;
  height: 400px;
}
@media screen and (max-width: 1250px) {
  #container3D {
    width: 100px;
    height: 200px;
  }
}
@media screen and (max-width: 650px) {
  #container3D {
    width: 100px;
    height: 200px;
  }
}
  


  @media screen and (max-width: 480px) {
    .App {
      padding: 0.5rem 1rem;

    }
  }

  